
Host {{ groups.bastion | first }}
  Hostname {{ hostvars[groups.bastion | first].ansible_host | d(groups.bastion | first) }}
  User {{ hostvars[groups.bastion | first].ansible_user }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ForwardAgent yes

{% for host in (groups.etcd + groups.master + groups.compute) | unique -%}

Host {{ hostvars[host].inventory_hostname }}
  Hostname {{ hostvars[host].ansible_host | d(hostvars[host].inventory_hostname) }}
  User {{ hostvars[host].ansible_user }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ForwardAgent yes
  ProxyJump {{ groups.bastion | first }}

{% endfor %}

# vim:ts=4:sw=4:et:syn=sshconfig:
