[defaults]
inventory=kubelo.ini
gathering=explicit
host_key_checking=false
display_skipped_hosts=true
retry_files_enabled=false
any_errors_fatal=true
callback_result_format=yaml

[privilege_escalation]
become=true
become_user=root

[ssh_connection]
pipelining=true
ssh_args=-q -F .ssh/config
