global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    retries 3
    maxconn 2000
    timeout connect 5s
    timeout client 120s
    timeout server 120s

frontend kubelo
    mode tcp
    bind 0.0.0.0:7878
    default_backend kubelo

backend kubelo
    mode tcp
    balance roundrobin
    option tcp-check

{% for short_hostname, ipv4_address in backend_servers %}
    server {{ short_hostname }} {{ ipv4_address }}:6443 check port 6443
{% endfor %}

# vim:ts=4:sw=4:et:
